@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply flex min-h-dvh max-w-full flex-col overflow-x-clip bg-white text-text;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-lg bg-primary-100 p-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border border-solid border-primary-100 bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600;
  }

  @-moz-document url-prefix() {
    * {
      scrollbar-width: thin;
      scrollbar-color: #006ffd #cce6ff;
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .size-screen {
    @apply h-screen w-screen;
  }

  .section-container {
    @apply mt-[3.25rem] w-full px-5 md:mt-10 md:px-14;
  }

  .h1 {
    @apply text-4xl leading-snug md:text-[3.5rem] md:leading-tight lg:text-[5rem];
  }

  .h2 {
    @apply text-4xl leading-snug md:leading-tight lg:text-5xl;
  }

  .btn-primary {
    @apply cursor-pointer rounded-lg bg-primary px-4 py-2 text-center font-bold uppercase text-text-contrast transition-all duration-300 hover:bg-primary-400;
  }

  .link {
    @apply cursor-pointer transition-all duration-200 hover:text-primary-400 hover:underline;
  }

  .shadow-bottom {
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  }
}
